<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiplomMagister</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiplomMagister.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header id="main-header">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="min-height: 64px;">
                <div class="d-flex w-100 justify-content-end pe-3 ps-3">
                    <img id="profile-image" src="" alt="user logo" />
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="w-100">
            <main role="main" class="row pe-0 me-0 align-items-center justify-content-center">
                @RenderBody()
            </main>
        </div>
    }
    <footer id="footer" class="footer text-muted">
        <div class="container footer">
            &copy; 2023 - Тесты в Кубе - <a asp-controller="Home" asp-action="Privacy">Политика конфеденциальности</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    GetProfilePhoto();
    GetUserClient();
</script>
