@using DiplomMagister.Models;
@model LoginViewModel 

@{

}

<div class="card card-body">
    <form asp-antiforgery="true" asp-action="Login" asp-controller="Account" method="post">
        <label asp-for="Login"></label>
        <input type="email" asp-for="Login" placeholder="example@mail.ru" />
        <span asp-validation-for="Login" class="text-danger"></span>

        <label asp-for="Password">Введите пароль</label>
        <input type="password" asp-for="Password" placeholder="******" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input type="submit" value="Войти"/>
    </form>
</div>
